
<ul class="listview">
<% prediktions.forEach(function(matchPred) { %>
	<li>
		<% var match = matchPred.get("match"); %>
		<div><%= match.get("description") %></div>
		<div><%= match.get("groupName") %></div>
		<div><%= match.get("venue")[0].fullName %></div>
		<div><%= formatTime(match.get("matchDate")) %></div>
		<div class="teams">
			<% var teams = match.get("teams") %>
			<form>
				<% teams.forEach(function(team) { %>
					<% include ../_team %>
				<% }) %>
			</form>
		</div>
	</li>
<% }) %>
</ul>