
<ul class="listview">
<% prediktions.forEach(function(matchPred) { %>
	<li class="matchPredBox">
		<% var match = matchPred.get("match"); %>
		<% include ../_matchDetails %>
		<div class="teamsBox">
			<% var teams = match.get("teams") %>
			<form method='post' action="<%= '/matches/' + match.id + '/prediktions/' + matchPred.id%>">
				<% teams.forEach(function(team) { %>
					<% include ../_team %>
				<% }) %>
				<% if(match.get("matchState") === "U"){%>
					<!-- This hidden element causes express.methodOverride middleware to override
						the HTTP method from post to delete for a truly RESTful interface. -->
					<input type='hidden' name='_method' value='delete' />
					<input type='submit' class="btn_submit" value="Delete" />
				<% } else if(match.get("matchState") === "C"){ %>
						<% var matchStatus = match.get("matchStatus"); %>
					<div>
						<span>Match Result:</span>
						<span><%= matchStatus.text %></span>
					</div>
					<div>
						<span>Your score for this prediktion:</span>
						<span><%= matchPred.get("score") %></span>
					</div>
				<% } %>
			</form>
		</div>
	</li>
<% }) %>
</ul>