<!-- Include the header partial -->
<% scripts.push('underscore-min.js') %>
<% include ../_header %>

<% include _fancyHeader %>


<div class="main_content">
	<span>Your Scorecard will be displayed here soon...</span>
</div>
    
<!-- Include the footer partial -->
<% include ../_footer %>