<div class="hdr">
	<div class="optionRow">
		<a href="/" class="sub hdrOption left">
			<span class="label">Play</span>
		</a>
		<a href="/leaderboards" class="main hdrOption userPic" >
			<span class="label" style="font-size:large;">Scores</span>
		</a>
		<a href="/user" class="sub hdrOption right">
			<span class="label">Me</span>
		</a>
	</div>
	<div class="dataRow">
		<span>LeaderBoards</span>
	</div>
</div>