
<ul class="navMenu">
	<li><a href="/user"><span>&nbsp&nbsp&nbspMe&nbsp&nbsp&nbsp</span></a></li>
	<li><a href="/leaderboards"><span>LeaderBoards</span></a></li>
</ul>
<h1><a href="/">Prediktor</a></h1>
