<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= typeof title === "undefined" ? "Prediktor" : title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/<%= typeof stylesheet === "undefined" ? "main" : stylesheet %>.css' />
		<link rel='stylesheet' href='/stylesheets/icc-world-cup.css' />
		<link rel='stylesheet' href='/stylesheets/seasons-icons.css' />
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab' rel='stylesheet' type='text/css'>
		<%- addScripts(scripts) %>
    </head>
    <body>