<!-- Include the header partial -->
<% include _header %>
<% include _headerBar %>

<div class="main_content">
	<% seasons.forEach(function(season) { %>
		<ul class="season_link">
			<li><a href="<%= '/seasons/' + season.id %>" ><%= season.get("name") %></a></li>
		</ul>
	<% }) %>
</div>

<!-- Include the footer partial -->
<% include _footer %>