<!-- Include the header partial -->
<% include _header %>
<% include _headerBar %>

    <h1>Prediktor</h1>
    <div class="main_content">
  	<% matches.forEach(function(match) { %>
  		<div class="matchBox">
	  		<div><%= match.get("description") %></div>
			<div><%= match.get("groupName") %></div>
			<div><%= match.get("matchDate") %></div>
  		</div>
    <% }) %>
</div>
    
<!-- Include the footer partial -->
<% include _footer %>