<div class="hdr">
	<div class="optionRow">
		<a href="?day=<%= dayBefore(fordate) %>" class="sub hdrOption left">
			<span class="label">Prev</span>
		</a>
		<a href="/" class="main hdrOption seasonLogo icon<%= season.get("icc_id") %>">
		</a>
		<a href="?day=<%= dayAfter(fordate) %>" class="sub hdrOption right">
			<span class="label">Next</span>
		</a>
	</div>
	<div class="dataRow">
		<span><%= season.get("name") %></span>
	</div>
</div>