<div class="hdr">
	<div class="optionRow">
		<a href="/user" class="sub hdrOption left">
			<span class="label">Me</span>
		</a>
		<a href="/" class="main hdrOption userPic">
			<span class="label">Play</span>
		</a>
		<a href="/leaderboards" class="sub hdrOption right">
			<span class="label">Scores</span>
		</a>
	</div>
	<div class="dataRow">
		<span>Predikt</span>
	</div>
</div>