<div class="hdr">
	<div class="optionRow">
		<a href="/user" class="sub hdrOption left">
			<span class="label">Me</span>
		</a>
		<a href="/" class="main hdrOption seasonLogo icon<%= season.get("icc_id") %>">
		</a>
		<a href="/leaderboards" class="sub hdrOption right">
			<span class="label">Scores</span>
		</a>
	</div>
	<div class="dataRow">
		<span><%= season.get("name") %></span>
	</div>
</div>