<!-- Include the header partial -->
<% include ../_header %>
<% include ../_headerBar %>

<div class="main_content">
	<% var link; %>
	<% if(leaderboard === true) { %>
		<% link = 'leaderboards'; %>
		<h2>LeaderBoards</h2>
	<% } else { %>
		<% link = 'seasons'; %>
		<h2>Play</h2>
	<% } %>
	<ul class="season_links">
		<% seasons.forEach(function(season) { %>
			<li>
				<a href="<%= '/' + link + '/' + season.id %>" >
					<div class="seasonLogo icon<%= season.get("icc_id") %>"></div>
					<span><%= season.get("name") %></span>
				</a>
			</li>
		<% }) %>
	</ul>
</div>

<!-- Include the footer partial -->
<% include ../_footer %>