<!-- Include the header partial -->
<% include ../_header %>

<% var link; %>
<% if(leaderboard === true) { %>
	<% link = 'leaderboards'; %>
	<% include ../leaderboard/_fancyHeader %>
<% } else { %>
	<% link = 'seasons'; %>
	<% include _fancyHeaderSeasons %>
<% } %>

<div class="main_content">
	<ul class="season_links">
		<% seasons.forEach(function(season) { %>
			<li>
				<a href="<%= '/' + link + '/' + season.id %>" >
					<div class="seasonLogo icon<%= season.get("icc_id") %>"></div>
					<span><%= season.get("name") %></span>
				</a>
			</li>
		<% }) %>
	</ul>
</div>

<!-- Include the footer partial -->
<% include ../_footer %>