<!-- Include the header partial -->
<% scripts.push('underscore-min.js') %>
<% include ../_header %>
<% include ../_headerBar %>

<div class="main_content">
	<div class="seasonBox">
	</div>
	<div class="dateBox">Predikt for Matches on <%= fordate %></div>
	<ul>
		<% matches.forEach(function(match, counter) { %>
			<li class="matchBox">
			<% include ../_matchDetails %>
			<% var matchPred = _.find(prediktions, function(pred){ %>
				<% return pred?pred.get('match').id === match.id:false; %>
			<% }); %>
				<div class="teamsBox">
					<form method='post' action="<%= '/seasons/' + season.id +'/matches/' + match.id + '/prediktions' %>">
					
						<% var teams = match.get("teams") %>
						<% teams.forEach(function(team) { %>
							<% include ../_team %>
						<% }) %>
						<% if(!matchPred){ %>
							<input type='submit' class="btn_submit" value="Predikt" />
						<% } %>
				</div>
				</form>
			</li>
		<% }) %>
	</ul>
</div>
    
<!-- Include the footer partial -->
<% include ../_footer %>