* {
	font-family: 'Roboto', sans-serif;
}

/* Set Box Sizing http://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
html {
  box-sizing: border-box;
  text-align: center; /* Centering everything on the page!!! */
}
*, *:before, *:after {
  box-sizing: inherit;
}

.matchBox, .matchPredBox {
	border: thin solid black;
	margin: 0.25em;
	padding: 0.5em;
	border-radius: 0.5em;
}
.teamsBox {
	text-align: center;
	margin-top: .25em;
}
.teamBox {
	box-shadow: 0px 0px 5px gray;
	padding: 0.25em;
	
	display: flex;
	align-items: center;
}
input[type="submit"]{
	margin: 1em 0.5em;
	height: 3em;
	width: 25%;
}
.navMenu {
	text-align: center;
	margin-top: 1em;
}
.navMenu li {
	display:inline;
	padding: 0.2em;
	border: thin solid;
	box-shadow: 0px 0px 5px gray;
}
.navMenu a {
	text-decoration: none;
}

/* Start icc-world-cup.css overrides*/
.tLogo100x {
	box-shadow: 0px 0px 5px gray;
}
/* End icc-world-cup.css overrides*/


/*  Start html5reset-1.6.6.css */
ol, ul, li{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
input, select {
    vertical-align:middle;
}
/*  End html5reset-1.6.6.css */


input[type="radio"],label {
  vertical-align: baseline;
}