* {
	font-family: 'Roboto', sans-serif;
}

/* Set Box Sizing http://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
html {
  box-sizing: border-box;
  text-align: center; /* Centering everything on the page!!! */
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}

/* App Styles Start */
.matchBox, .matchPredBox {
	border: thin solid black;
	margin: 0.25em;
	padding: 0.5em;
	border-radius: 0.5em;
}
.teamsBox {
	text-align: center;
	margin-top: .25em;
}
.teamBox {
	box-shadow: 0px 0px 5px gray;
	padding: 0.25em;
	
	display: flex;
	align-items: center;
}
input[type="submit"]{
	margin: 1em 0.5em;
	height: 3em;
	width: 25%;
}
.navMenu {
	text-align: center;
	margin-top: 1em;
}
.navMenu li {
	display:inline;
	padding: 0.2em;
	border: thin solid;
	box-shadow: 0px 0px 5px gray;
}
.navMenu a {
	text-decoration: none;
}

/* Styles for fancyHeader */ 
.hdr {
	padding: 1em;
}
.optionRow {
	display: flex;
	align-items: center;
}
.hdrOption {
	border: 2px solid #c7b89e;
	display: inline-block;
	background-repeat: no-repeat;
	overflow: hidden;
}
.main.hdrOption {
	min-width: 100px;
	width: 100px;
	min-height: 100px;
	height: 100px;
	border-radius: 50px;
	box-shadow: 0 0 11pt 2pt red;
}
.main.hdrOption .label {
	line-height: 92px;
	font-size: xx-large;
}
.sub.hdrOption {
	min-width: 76px;
	width: 76px;
	min-height: 76px;
	height: 76px;
	border-radius: 38px;
}
.sub.hdrOption.left{
	margin-right:auto; /* Pin flex item to left */
}
.sub.hdrOption.right{
	margin-left:auto;/* Pin flex item to right */
}
.sub.hdrOption .label {
	line-height: 68px; 
}
.dataRow {
	margin-top: 0.5em;
}

/* End Styles for fancyHeader */ 


.userPic {
	
	position: relative;	/* Trick to make child IMG fill parend DIV*/
}
.userPic img{
	width: 100px;
	height: 100px;
	
	position: absolute;	/* Trick to make child IMG fill parend DIV*/
	top: 0;	/* Trick to make child IMG fill parend DIV*/
	right: 0;	/* Trick to make child IMG fill parend DIV*/
}

/* Start icc-world-cup.css overrides*/
.tLogo100x {
	box-shadow: 0px 0px 5px gray;
}
/* End icc-world-cup.css overrides*/


/*  Start html5reset-1.6.6.css */
ol, ul, li{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ul {
    list-style:none;
}

input, select {
    vertical-align:middle;
}
/*  End html5reset-1.6.6.css */


input[type="radio"],label {
  vertical-align: baseline;
}